[{rabbit,[]},
{rabbitmq_management, [{sample_retention_policies,
                          [{global,   [{86401, 1}]},
                           {basic,    [{86401, 1}]},
                           {detailed, [{86401, 1}]}]}
                        ]}
].
